<body>
  <div class="all">
    <div class="center">

      <div class="centerForm">
        <div class="formlad">
          <div class="ladhigh">
            DORMITORIO
          </div>
          <div class="ladlow">
            <ion-icon name="bed" [color]="cl1" class="icono"></ion-icon>
          </div>
        </div>

        <div class="formlad">
          <div class="ladhigh">
            ATICO
          </div>
          <div class="ladlow">
            <ion-icon name="home" [color]="cl2" class="icono"></ion-icon>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------ -->
      <div class="centerForm">
        <div class="formlad">
          <div class="ladhigh">
            SALA
          </div>
          <div class="ladlow">
            <ion-icon name="tv" [color]="cl3" class="icono"></ion-icon>
          </div>
        </div>

        <div class="formlad">
          <div class="ladhigh">
            COMEDOR
          </div>
          <div class="ladlow">
            <ion-icon name="fast-food" [color]="cl4" class="icono"></ion-icon>
          </div>
        </div>
      </div>

       <!-- ------------------------------------------------------------ -->
       <div class="centerForm">
        <div class="formlad">
          <div class="ladhigh">
            PATIO
          </div>
          <div class="ladlow">
            <ion-icon name="football"  [color]="cl5" class="icono"></ion-icon>
          </div>
        </div>

        <div class="formlad">
          <div class="ladhigh">
            RECEPCION
          </div>
          <div class="ladlow">
            <ion-icon name="key" [color]="cl6" class="icono"></ion-icon>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>


